.title {
	margin: 0;
	text-align: center;
	margin-top: 30px;
	font-size: 30pt;
}

.blurlayer {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	backdrop-filter: blur(50px);
	z-index: -1;
}

canvas {
	position: fixed;
	top: 0;
	left: 0;
	z-index: -2;
}

.code-input {
	position: fixed;
	top: calc(50% - 100px);
	left: calc(50% - 400px);
	width: 800px;
	height: 200px;
	background: #22222250;
	backdrop-filter: blur(100px);
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 10px;
}

input {
	background-color: #000;
	color: #fff;
	border: none;
	border-radius: 3px;
	font-size: 25pt;
	padding: 20px;
}

input:focus {
	box-shadow: 0 0 10px #0000ff;
}

button {
	border: none;
	background: #ff4500;
	cursor: pointer;
	border-radius: 3px;
	font-size: 25pt;
	padding: 20px;
}

#fadescreen {
	display: none;
	opacity: 0;
	background: #000;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	transition: 0.3s;
	z-index: 100;
}

#debugMenu {
	display: none;
	background: #333;
	position: fixed;
	top: 5%;
	left: 5%;
	width: 90%;
	height: 90%;
	z-index: 999;
}
